<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="ScaraSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <joint name="column1_carriage1_joint">
            <command_interface name="position" />
            <state_interface name="position">
                <param name="initial_value">0.4</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>

        <joint name="carriage1_shoulder_joint">
            <command_interface name="position" />
            <state_interface name="position">
                <param name="initial_value">0.848230</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>

        <joint name="shoulder_elbow_joint">
            <command_interface name="position" />
            <state_interface name="position">
                <param name="initial_value">0.452389</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>


    </ros2_control>

</robot>