<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stage">
    <xacro:include filename="materials.xacro" />
    <xacro:include filename="inertials.xacro" />
    
    <xacro:include filename="stage_core.xacro" />
    <xacro:include filename="stage.ros2_control.xacro" />
    <xacro:include filename="gz_plugins.xacro" />
</robot>