<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find scara_bringup)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>
        
    <gazebo reference="elbow_ef_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
    
    <gazebo>  
        <plugin filename="gz-sim-detachable-joint-system"  
                name="gz::sim::systems::DetachableJoint">  
            <parent_link>ef_link</parent_link>  
            <child_model>wafer</child_model>  
            <child_link>wafer_link</child_link>  
            <attach_topic>/vacuum/attach</attach_topic>  
            <detach_topic>/vacuum/detach</detach_topic>  
            <detach_on_start>true</detach_on_start>
        </plugin>  
    </gazebo>

</robot>